/* =================== VARIABLES =================== */

$color-rojo: #af2929;
$color-negro: #000000;
$color-blanco: #ffffff;
$color-rojo-transparente: rgba(245, 0, 0, 0.5);
$color-negro-opaco: rgba(0, 0, 0, 0.6);
$fuente-slider: 'Orbitron', sans-serif;
$radio-borde: 8px;

$fuente-principal: 'Orbitron', sans-serif;

$z-navbar: 1000;
$z-overlay: 500;
$z-dropdown: 1100;


$radio-btn: 30px;
$padding-btn: 10px 25px;

$transicion-default: all 0.3s ease;
